<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Main">

	<f:form.validationResults for="constraint">
		<f:if condition="{validationResults.flattenedErrors}">
			<f:for each="{validationResults.flattenedErrors}" key="fieldName" as="propertyErrors">
				<f:if condition="{fieldName}=={field}">
					<f:for each="{propertyErrors}" as="propertyError">
						<div class="error errorMessage errorField field{fieldName -> f:cObject(typoscriptObjectPath: 'plugin.tx_storefinder.fieldError')}">{propertyError.message}</div>
					</f:for>
				</f:if>
			</f:for>
		</f:if>
	</f:form.validationResults>

</f:section>

</html>
