{namespace sf=Evoweb\StoreFinder\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Map</title>
</head>
<body>
<f:section name="content">
<f:for each="{locations}" as="location" iteration="loop">
	<div class="mapHeader">
		<div class="icon">{location.icon}</div>
		<div class="storename">{location.name}</div>
		<div class="url">{location.url}</div>
		<div class="categories"><f:for each="{location.categories}" as="category">
			<f:debug>{category}</f:debug>
		</f:for></div>
		<div class="contactperson">{location.person}</div>
		<div class="address">{location.address}</div>
		<div class="additionaladdress">{location.additionaladdress}</div>
		<div class="city">{location.zipcode} {location.city}</div>
		<div class="country">{location.country} {location.state}</div>
		<div class="phone">{location.phone}</div>
		<div class="mobile">{location.mobile}</div>
		<div class="fax">{location.fax}</div>
		<div class="email">{location.email}</div>
		<div class="products">{location.products}</div>
		<div class="notes">{location.notes}</div>
		<div class="hours">{location.hours}</div>
		<div class="attributes">location.attributes</div>
		<div class="storeId">{location.storeid}</div>
		<div class="image">{location.image}</div>
		<div class="media">{location.media}</div>
		<div class="content">{location.content}</div>
		<div class="related">location.related</div>
		<div class="distance">{location.distance}</div>
	</div>
</f:for>
</f:section>
</body>
</html>