<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="content">
<f:for each="{locations}" as="location" iteration="loop">
	<div class="mapHeader">
		<f:if condition="{location.icon -> f:count()}"><div class="icon"><img src="{f:uri.image(src: location.icon.0, treatIdAsReference: 1) -> f:format.json()}"/></div></f:if>
		<div class="storename">{location.name}</div>
		<div class="url">{location.url}</div>
		<div class="categories"><f:for each="{location.categories}" as="category">{category.name}</f:for></div>
		<div class="contactperson">{location.person}</div>
		<div class="address">{location.address}</div>
		<div class="additionaladdress">{location.additionaladdress}</div>
		<div class="city">{location.zipcode} {location.city}</div>
		<div class="country">{location.country.shortNameEn} {location.state.nameEn}</div>
		<div class="phone">{location.phone}</div>
		<div class="mobile">{location.mobile}</div>
		<div class="fax">{location.fax}</div>
		<div class="email">{location.email}</div>
		<div class="products">{location.products}</div>
		<div class="notes">{location.notes}</div>
		<div class="hours">{location.hours}</div>
		<div class="attributes"><f:for each="{location.attributes}" as="attribute">{attribute.name}</f:for></div>
		<div class="storeId">{location.storeid}</div>
		<div class="image"><f:for each="{location.image}" as="image" iteration="iterator">
			{f:uri.image(image: image, width: 70) -> f:format.json()}<f:if condition="!{iterator.isLast}">, </f:if>
		</f:for></div>
		<div class="media"><f:for each="{location.media}" as="image" iteration="iterator">
			{f:uri.image(image: image, width: 70) -> f:format.json()}<f:if condition="!{iterator.isLast}">, </f:if>
		</f:for></div>
		<f:cObject typoscriptObjectPath="lib.tx_storefinder.contentElementRendering">{location.content}</f:cObject>
		<f:if condition="{location.related}"><div class="related"><f:for each="{location.related}" as="related">{related}</f:for></div></f:if>
		<f:if condition="{location.distance}"><div class="distance">{location.distance}</div></f:if>
	</div>
</f:for>
</f:section>

</html>
