<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="content"><f:format.raw>{
	name: {location.name -> f:format.json()},
	lat: {location.latitude},
	lng: {location.longitude},
	information: {<f:format.raw/>
		uid: {location.uid},
		lat: {location.latitude},
		lng: {location.longitude},
		name: {location.name -> f:format.json()},
		storeid: {location.storeid -> f:format.json()},
		address: {location.address -> f:format.json()},
		additionaladdress: {location.additionaladdress -> f:format.json()},
		city: {location.city -> f:format.json()},
		person: {location.person -> f:format.json()},
		zipcode: {location.zipcode -> f:format.json()},
		products: {location.products -> f:format.json()},
		email: {location.email -> f:format.json()},
		phone: {location.phone -> f:format.json()},
		mobile: {location.mobile -> f:format.json()},
		fax: {location.fax -> f:format.json()},
		hours: {location.hours -> f:format.json()},
		url: {f:uri.typolink(parameter: location.url) -> f:format.json()},
		notes: {location.notes -> f:format.json()},
		icon: <f:if condition="{location.icon -> f:count()}"><f:then>{f:uri.image(src: location.icon.0, treatIdAsReference: 1) -> f:format.json()}</f:then><f:else>""</f:else></f:if>,
		state: {location.state.localName -> f:format.json()},
		country: {location.country.shortNameLocal -> f:format.json()},
		media: <f:format.json><f:for each="{location.media}" as="media">{f:uri.image(src: media.0.uid, width: 70, treatIdAsReference: 1)}</f:for></f:format.json>,
		image: <f:format.json><f:if condition="{settings.showStoreImage}"><f:for each="{location.image}" as="image">{f:uri.image(src: image.uid, width: 70, treatIdAsReference: 1)}</f:for></f:if></f:format.json>
	}
	}</f:format.raw></f:section>

</html>
