<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:sf="http://typo3.org/ns/Evoweb/StoreFinder/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:section name="content">
	<f:if condition="{settings.includeStyleSheet}">
		<sf:fileInclude file="EXT:store_finder/Resources/Public/Stylesheet/layout.css" type="css"/>
	</f:if>
	<f:if condition="{settings.includeJquery}">
		<sf:fileInclude file="EXT:store_finder/Resources/Public/JavaScript/jquery-1.10.2.min.js"/>
	</f:if>
	<sf:fileInclude file="EXT:store_finder/Resources/Public/JavaScript/hogan-3.0.2.min.js"/>
	<sf:fileInclude file="EXT:store_finder/Resources/Public/JavaScript/InfoBubble.js"/>
	<sf:fileInclude file="EXT:store_finder/Resources/Public/JavaScript/map.js"/>

<sf:minify>
<script type="text/javascript">
	var mapConfiguration = {
		active: true,
		zoom: '{center.zoom}',
		apiConsoleKey: '{settings.apiConsoleKey}',
		<f:for each="{settings.mapConfiguration}" as="configuration" key="name">{name}: '{configuration}',</f:for>
		<f:if condition="{center.latitude}">
		center: {<f:format.raw/>
			lat: {center.latitude -> f:format.number(decimals: 7)},
			lng: {center.longitude -> f:format.number(decimals: 7)}
		},
		</f:if>
		afterSearch: '{afterSearch}'
	};

	var locations = [
		<f:for each="{locations}" as="location" iteration="loop">
			{f:render(partial: 'LocationJson', section: 'content', arguments: _all)}
			<f:if condition="{loop.isLast}"><f:then/><f:else>,</f:else></f:if>
		</f:for>
	];
</script></sf:minify>

<f:spaceless><f:render partial="InfoWindow"/></f:spaceless>

<h3>{settings.storeTitle} <f:translate key="foundText" arguments="{0: 2}"/></h3>

<div id="tx_storefinder_map"></div>
</f:section>

</html>
