{namespace sf=Evoweb\StoreFinder\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:sf="http://dtd.evoweb.de/store_finder.xsd">
<head>
	<title>Search</title>
</head>
<body>

<f:section name="content">
<h3 class="formHeader"><f:translate key="formHeader"/></h3>

<f:form object="{search}" action="map" name="search">
	<f:render partial="FormErrors" section="Main" arguments="{for: 'search'}" />
	<f:render partial="FieldError" section="Main" arguments="{field: 'uid'}" />

	<dl>
		<dt><f:translate key="name" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'name'}" />
			<f:form.textfield property="name" />
		</dd>

		<dt><f:translate key="address" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'address'}" />
			<f:form.textfield property="address" />
		</dd>

		<dt><f:translate key="zipcode" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'zipcode'}" />
			<f:form.textfield property="zipcode" />
		</dd>

		<dt><f:translate key="city" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'city'}" />
			<f:form.textfield property="city" />
		</dd>

		<f:if condition="{static_info_tables}">
			<dt><f:translate key="country" /></dt>
			<dd>
				<f:render partial="FieldError" section="Main" arguments="{field: 'country'}" />
				<sf:form.selectCountries property="country" id="sfrCountry" optionValueField="isoCodeA3" allowedCountries="{0: 'DE', 1: 'AT'}" />
			</dd>
		</f:if>

		<dt><f:translate key="latitude" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'latitude'}" />
			<f:form.textfield property="latitude" />
		</dd>

		<dt><f:translate key="longitude" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'longitude'}" />
			<f:form.textfield property="longitude" />
		</dd>

		<dt><f:translate key="products" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'products'}" />
			<f:form.textfield property="products" />
		</dd>

		<f:if condition="{0:settings.categoryPriority}=={0:'limitResultsToCategories'}">
		<f:then/>
		<f:else>
		<dt><f:translate key="category" /></dt>
		<dd class="category-tree">
			<f:render partial="FieldError" section="Main" arguments="{field: 'category'}" />
			<f:render section="categoryTree" arguments="{categories: categories}" />
		</dd>
		</f:else>
		</f:if>

		<dt><f:translate key="radius" /></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'radius'}" />
			<f:form.select property="radius" options="{settings.radius}"/>
		</dd>

		<dt>&nbsp;</dt>
		<dd>
			<f:form.submit class="submit" value="{f:translate(key: 'submit_find')}" />
		</dd>
	</dl>
</f:form>
</f:section>

<f:section name="categoryTree">
	<ul>
		<f:for each="{categories}" as="category">
			<li>
				<f:form.checkbox id="category-{category.uid}" property="category" value="{category.uid}" />
				<label for="category-{category.uid}" title="{category.uid}">{category.title}</label>
				<f:if condition="{category.children}">
					<f:render section="categoryTree" arguments="{categories: category.children}" />
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>

</body>
</html>