<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sf="http://typo3.org/ns/Evoweb/StoreFinder/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="path">LLL:EXT:store_finder/Resources/Private/Language/locallang_be.xlf:</f:variable>

<table class="table table-condensed table-hover news-table">
    <colgroup>
        <col style="width: 40%"/>
        <col style="width: 60%"/>
    </colgroup>
    <thead>
    <tr>
        <th colspan="2">Settings of "<f:translate id="{path}tt_content.list_type_show"/>"</th>
    </tr>
    </thead>
    <tbody>

        <f:if condition="{pi_flexform_transformed.settings.location}">
        <tr>
            <th style="vertical-align: top"><f:translate id="{path}pi_flexform.singleLocationId"/></th>
            <td>
                <f:for each="{sf:records(uids: pi_flexform_transformed.settings.location, table: 'tx_storefinder_domain_model_location')}" as="location" iteration="iterator">
                    <core:iconForRecord table="tx_storefinder_domain_model_location" row="{location}" /> {location.name}
                    <f:if condition="!{iterator.isLast}"><br></f:if>
                </f:for>
            </td>
        </tr>
        </f:if>
    </tbody>
</table>

</html>
