/* layout styles for store_finder extension */

.group:after {
	content: '';
	display: table;
	clear: both;
}

.tx-storefinder {
	position: relative;
}

.tx-storefinder #tx_storefinder_map {
	height: 400px;
	width: 100% !important;
}

.tx-storefinder .infoWindow {
}

	.tx-storefinder .infowindow .right {
		float: right;
		width: 40%;
	}

	.tx-storefinder .infoWindow .left {
		float: left;
		width: 60%;
	}